main{
  position: relative;
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.img-div{
  position: absolute;
  margin-left: 325px;
}
.text-div{
z-index: 1;
flex-shrink: 0;
}
main img{
  width: 900px;
}
.title-p{
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 10px;
}
.suptitle-p{
  font-size: 34px;
}



@media (max-height: 700px){
  main{
  height: 500px;
  }
  main img{
  width: 600px;
  }
  .title-p{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .suptitle-p{
    font-size: 23px;
  }
  
.img-div{
  margin-left: 210px;
}

}


@media (max-width: 768px) {
  body {
  }

  main {
  }

  .img-div {
    margin-left:90px ;
  }

  main img {
    width: 300px;
    opacity: .5;
  }

  .text-div {
    width: 250px;
  }

  .title-p {
    font-size: 26px;
  }

  .suptitle-p {
    font-size: medium;
  }

  header .right-side {
    margin-right: 20px;
    margin-left: -20px;
  }

}
